includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - app/

    # Level 10 is the highest level
    level: 6
    reportUnmatchedIgnoredErrors: false
    
    ignoreErrors:
            -
                identifier: property.notFound
            -
                identifier: missingType.generics
            -
                identifier: argument.templateType
            -
                identifier: method.notFound
            -
                identifier: larastan.relationExistence
            -
                identifier: staticMethod.notFound
            -
                identifier: missingType.iterableValue

#    This is from the documentation
#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
